<form class="form-inline" th:action="@{/}" method="POST" xmlns:th="http://www.w3.org/1999/xhtml">
    <fieldset>
        <div class="form-group">
            <div class="col-sm-1">
                <input type="number" class="form-control" id="leftOperand" placeholder="Left Operand"
                       name="leftOperand" th:value="${leftOperand}"/>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <select class="form-control" name="operator">
                    <option value="+" th:selector="${operator.equals('+')}">+</option>
                    <option value="-" th:selector="${operator.equals('-')}">-</option>
                    <option value="*" th:selector="${operator.equals('*')}">*</option>
                    <option value="/" th:selector="${operator.equals('/')}">/</option>
                    <option value="^" th:selector="${operator.equals('^')}">^</option>

                </select>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <input type="number" class="form-control" id="rightOperand" placeholder="Right Operand"
                       name="rightOperand" th:value="${rightOperand}"/>

            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <p>=</p>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control" id="result" placeholder="Result"
                       name="result" th:value="${result}"/>
            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
    </fieldset>
</form>